<nav>
    <a href="/">Home</a>
    &nbsp;&nbsp;
    <a href="/register">Register Book</a>
    &nbsp;&nbsp;
    <a href="/show">Show Books</a>
    &nbsp;&nbsp;
    <a href="/send-mail">Send Mail</a>
  </nav>
  