<%- include("header")%>
<%- include("nav")%>


<form action="/send-mail" method="post">
    <h1>This is Send Mail Page</h1>
    <br><br>
    <input type="email" name="email" placeholder="Email">
    &nbsp;
    <button>Send</button>
</form>

<%- include("footer")%>